#addItem div{
    display:table-row;
}
#addItem div *{
    display:table-cell;
}
#addItem{
    position: fixed;
    box-sizing: border-box;
    display: table;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    line-height: 2em;
    padding: 30px;
    border-radius: 20px 0 0 0;
    z-index: 999;
    top:50%;
    left:50%;
    width:400px;
    height:300px;
    transform: translate(-200px,-150px);
    background-color: rgba(66, 185, 131,1);
    box-shadow: #333333 3px 3px 20px;
}
#addItem button{
    margin-bottom:5px ;
    margin-right:5px ;
    padding:4px;
    border-radius:4px;
}