#options{
    position: fixed;
    left:20px;
    top:65px;
    padding-top: 35px;
    padding-right: 20px;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    bottom:0;
    border-right: solid rgb(66, 185, 131) 1px;

}
#options div{
    margin:12px 0;
    padding: 4px;
    background-color:rgba(66, 185, 131,0.7);
    border-radius: 5px;
}
#options div:first-child{
    padding:3px 20%;
}
#options div:first-child p{
    margin:5px 0;
    overflow: hidden;
}
#options ul{
    padding-left: 0;
}
#options li{
    background-color:#f1f1f1;
    margin:5px 0;
    padding: 4px 8px;
    border-left: solid 2px #f1f1f1;
    cursor: pointer;
}
#options li:hover{
    border-left: solid 2px rgb(53,73,94);
}

