*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0 10%;
    font-family: sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    min-width: 500px;
}
ul{
   list-style-type: none;
}
header{
    position: fixed;
    z-index: 10;
    left:0;
    top:0;
    width:100%;
    font-size: 40px;
    text-align: center;
    color:#333;
    border-bottom: solid 1px #42b983;
    background-color: rgba(255,255,255,0.4);

}
header div{
    margin:5px 30px;
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
}
header i{
    transform:translate(0 10px);
}
header span{
    display: block;
    padding: 3px;
    background: #42b983;
    box-shadow: 0 0 10px #222;
    border-radius: 12px;
}
header i:hover{
    color:#42b983;
    cursor: pointer;
}

#todolist{
    position: relative;
    display: flex;
    top:100px;
    left:18%;
}
aside{
    width:18%;
}
article{
    float:right;
    width:80%;
    height:100%;
    margin-left:5px;
    padding:10px;
}
.section{
    /*display:flex;*/
    /*justify-content: flex-start;*/
    /*align-items: flex-end;*/
    transition: all 0.3s;
    border-left:#f66 8px solid;
    background-color: rgba(66, 185, 131, 0.6);
    margin-bottom: 10px;
    border-radius: 0 18px 18px 0;
    padding:3px;
}
.big+div div{
    width:200px;
    overflow: auto;
}
.tips{
    font-size: small;
    color:rgb(53,73,94);

}
.finished{
    border-left:#42b983 8px solid;
}
i .finished{
    color:#42b983;
}
.section{
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: flex-end;
}
.section>div:first-child{
    align-self: center;

}
.section .item{
    display:flex;
    align-items:center;
    justify-content: center;

}
.section .big{
    font-size:3em ;
    margin-right:10px;
    line-height: 100%;
}
/*.section>div:last-child{*/
    /*float:right;*/
/*}*/
.section i{
    cursor: pointer;
}
article>p{
    font-size: 200%;
    left:50%;
    height:50%;
    text-align: center;
    vertical-align: middle;
    color:#888;
}


