body{
    padding: 0 10%;
    font-family: sans-serif;
}
ul{
   list-style-type: none;
}
header{
    display: flex;
    justify-content:space-around;
    align-items:flex-end;
    width:100%;
    padding: 20px 0;
    font-size: 40px;
    text-align: center;
    color:#333;
    border-bottom: solid 1px #42b983;

}
header i{
    transform:translate(0 10px);
}
header span{
    display: block;
    padding: 3px;
    background: #42b983;
    box-shadow: 0 0 10px #222;
    border-radius: 12px;
}
header i:hover{
    color:#42b983;
    cursor: pointer;
}

#todolist{
    display: flex;
}
aside{
    width:18%;
}
article{
    float:right;
    width:80%;
    margin-left:5px;
    padding:10px;
    border-left:1px solid #42b983;
    overflow: auto;
}
.section{
    /*display:flex;*/
    /*justify-content: flex-start;*/
    /*align-items: flex-end;*/
    border-left:#f66 8px solid;
    background-color: rgba(66, 185, 131, 0.6);
    margin-bottom: 10px;
    border-radius: 0 18px 18px 0;
    padding:3px;
}
.finished{
    border-left:#42b983 8px solid;
}
i .finished{
    color:#42b983;
}
.section{
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: flex-end;
}
.section>div:first-child{
    align-self: center;

}
.section .item{
    display:flex;
    align-items:center;
    justify-content: center;

}
.section .big{
    font-size:3em ;
    margin-right:10px;
    line-height: 100%;
}
/*.section>div:last-child{*/
    /*float:right;*/
/*}*/
.section i{
    cursor: pointer;
}


