@keyframes list-in {
    0% {
        transform: translate(100px);
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes list-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: translate(100px);
        opacity: 0;
    }
}
/*.list-enter-active,  {*/
    /*transition: all 1s;*/
/*}*/
/*.list-leave-active{*/
    /*transition: all 0.3s;*/
/*}*/
/*.list-enter, .list-leave-active{*/
    /*opacity: 0;*/
    /*transform: scale(0);*/
/*}*/
.list-enter-active {
    animation: list-in 0.8s;
}
.list-leave-active {
    animation: list-out 0.8s;
}
.list-move {
    transition:transform 0.8s ;
}