.fade-enter-active, .fade-leave-active {
    transition: all 0.5s
}
.fade-enter,.fade-leave-active {
    /*设置.fade-enter的opacity有必要，不然在进入的时候没有过渡效果。*/
    opacity: 0;
    transform: scale(0.7);
}
.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-out .5s;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(0);
    }
}