<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/todo.css">
    <link rel="stylesheet" href="css/transition.css">
    <link rel="stylesheet" href="css/addItemForm.css">
    <link rel="stylesheet" href="css/options.css">
    <script src="js/vue.js"></script>
</head>
<body>

<header id="add">
    <span>To Do List </span>   <i title='新增一个项目' class="fa fa-plus-square fa-1x" @click="show=!show"></i>
    <transition name="fade">
        <form id="addItem" v-if="show">
            <div>
            <label for="waitTo">待做事项：</label><input id="waitTo" type="text" v-model.trim="newToDo.value">
            </div>
            <div>
            <label for="important">重要程度：</label>
            <select id="important" v-model.number="newToDo.isImportant">
                <option value="0">不重要</option>
                <option value="1">不太重要</option>
                <option value="2">重要</option>
                <option value="3">很重要</option>
            </select>
            </div>
            <div>
            <label for="deadline">备注：</label>
            <input type="text" id="tips" v-model="newToDo.tips">
            </div>
            <div>
            <label for="deadline">截止时间：</label>
            <input type="time" id="deadline" v-model="newToDo.deadline">
            </div>
            <button @click.prevent="show=!show ;submit()">确定</button>
        </form>
    </transition>

</header>
<div id="todolist">
    <!--侧边栏-->
    <aside id="options">
        <p>排列方式：</p>
        <ul>
            <li @click="listByImportance">重要程度</li>
            <li>截止时间</li>
            <li>仅显示未完成</li>
        </ul>
    </aside>
    <article>
        <transition-group name="list" tag="ul">
            <todoitem v-for="(todo,index) in todos" :key="index" :todo="todo"></todoitem>
        </transition-group>
    </article>
</div>

<script src="js/todo.js"></script>
</body>
</html>